.portfolio_description
  background-color: #888
  padding: 0 0 20px 0
  border-bottom: 3px solid rgba(0, 0, 0, 0.5)
  position: relative
  display: none

.arrow-box
  border: solid 2px black
  width: 25px
  height: 16px
  position: absolute
  left: calc(50% - 12px)
  &:hover
    cursor: pointer

i
  border: solid black
  border-width: 0 3px 3px 0
  display: inline-block
  padding: 3px
  position: absolute
  left: 6px
  top: 3px

.arrow-down
  transform: rotate(-135deg)
  
.portfolio_block
  background-color: #888
  padding-bottom: 50px
  padding-top: 50px
    
.gallery
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
  max-width: 1014px
  margin: auto
  padding-bottom: 50px


.gallery
  padding: 2px
  padding: 0.4vw
  font-size: 0
  flex-flow: row wrap
  display: flex


.gallery div
  flex: auto
  width: 200px
  margin: 0.5vw
  z-index: 5


.gallery div img
  width: 100%
  height: auto
  &:hover
    cursor: pointer



/*Grayscale*/

img
  filter: grayscale(100%)
  filter: saturate(0)
  transition: all .3s ease
  /*   box-shadow: 2px 2px 5px */


img:hover
  filter: grayscale(0)
  filter: saturate(1.5)
  box-shadow: 0px 0px 5px
