body {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-family: hack;
  font-weight: bold;
  color: #666;
}

canvas {
  border: 1px solid #666;
  /*border-radius: 5px;*/
  /*padding: 50px;*/
}

button {
  width: 60px;
  height: 20px;
}

#controls {
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -252px;
}

#clear {
  right: 0;
  position: absolute;
}

#pause {
  left: 0;
  position: absolute;
}

input[name="brush"] {
}
